# Exact versions used to re-run the analysis, the replication training and all tests of the revision (Python 3.11, macOS arm64).
# Major.minor versions match those reported for the original VM run (NumPy 2.4, Numba 0.67, PyTorch 2.14, pymoo 0.6.2, moocore 0.3.2).
# Install with: pip install -r requirements-lock.txt
about-time==4.2.1
alive-progress==3.3.0
autograd==1.9.1
cffi==2.1.1
cma==4.5.0
contourpy==1.3.3
cycler==0.12.1
Deprecated==1.3.1
filelock==4.0.6
fonttools==4.66.0
fsspec==2026.9.0
graphemeu==0.7.2
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.5.1
llvmlite==0.49.0
MarkupSafe==3.0.3
matplotlib==3.11.2
moocore==0.3.2
mpmath==1.3.0
networkx==3.6.1
numba==0.67.0
numpy==2.4.6
packaging==26.3
pillow==12.3.0
platformdirs==4.12.1
pluggy==1.6.0
pycparser==3.0
Pygments==2.21.0
pymoo==0.6.2
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
sympy==1.14.0
torch==2.14.0
typing_extensions==4.16.0
wrapt==2.5.0
